<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.newsletter }}">Newsletter</a></li>
            <li><a href="{{ site.baseurl }}/events">Events</a></li>
            <li><a href="{{ site.baseurl }}/officers">Officers</a></li>
            <li><a href="{{ site.baseurl }}/aboutus">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
          </ul>
        </div>
        <p>Copyright 20{{ site.time | date: '%y' }} VFW Post 3285. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
